
<footer >
  <div id="all" class="row">
    <div id="about" class="col-lg-4 col-md-4">
      <h5 class="text-uppercase mb-4 font-weight-bold"> About</h5>
      <p class="text-left">
          We are an Information and Communication Technology (ICT) company specialized in the 
          design and development of management systems. We combine vertical market expertise with the dominance of 
          innovative technologies, such as Big Data, Social Networking, Cloud Computing, to optimize and integrate processes, 
          applications and devices for customer service.
      </p>
    </div>
    <div id="adress" class="col-lg-4 col-md-4">
        <h5 class="text-uppercase mb-4 font-weight-bold">Address</h5>
        <p>
            <i class="fa fa-home mr-3"></i> Tirana, ALbania</p>
        <p>
            <i class="fa fa-envelope mr-3"></i> info@rayonit.com</p>
    </div>
    <div id="follow" class="col-lg-4 col-md-4">
      <h5 class="text-uppercase mb-4 font-weight-bold"> Follow us:</h5>
      <a type="button"  href="https://www.facebook.com/RayonitGroup/" style="background-color:#151B54;color:white;"class="btn btn-fb">
        <i class="fa fa-facebook" ></i>
    </a>
    <a type="button"  href="https://twitter.com/RAYONIT" style="background-color: #368BC1;color:white;"class="btn btn-tw">
        <i class="fa fa-twitter"></i>
    </a>
    <a type="button"  href="https://www.linkedin.com/company/rayonit"style="background-color:#659EC7;color:white;" class="btn btn-linkedin-in">
        <i class="fa fa-linkedin-in"> in</i>
    </a>

    </div>
    
    <div style="height:30px; text-align:center; letter-spacing:1px;color:silver; width:110%;margin-left:-80px;">
        <p> @2018 Copyright:Rayonit </p>
      </div>
  </div>
  
  </footer>