.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.element{
    display: inline;
}
.scroll{
    position: absolute;
    top: 0;
    left:0;
    width:50px ;
    height: 75%;
    opacity: 0.8;
}
.left{
    background: url("./left.png") no-repeat center;
    margin-left: 1%;
}
.right{
    background: url("./right.png") no-repeat center;
    right: 0;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #848b79;
  }
  .imgcontainer {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  /* Make the image to responsive */
  .image {
    width: 100%;
    height: auto;
  }
  
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color:#343434;
    cursor: pointer;  
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .imgcontainer:hover .overlay {
    opacity: 0.5;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* When you move the mouse over the icon, change color */
  .fa-user:hover {
    color: #eee;
  }
