<div class="row">
  <div class="col-lg-12" align="center">
  <app-videoplayer></app-videoplayer>
</div>
<br>

<div *ngIf="listofcam; else message">
 <!-- <div *ngIf="selected">
     <div class="col-lg-12" >
    <table class="table table-hover table-dark">
      <tr>
        <th>City</th>
        <td>{{selected.city}}</td>
        <th>Country</th>
        <td>{{selected.country}}</td>
      </tr>
      <tr>
        <th>Lat</th>
        <td>{{selected.lat}}</td>
        <th>Long</th>
        <td>{{selected.long}}</td>
      </tr>
    </table>
  </div>
 </div> -->

  <div class="col-lg-12" align="center">
    <br>
  <div dragScroll  drag-scroll-disabled=true	#nav>
    <div style="display:inline-block;" *ngFor="let element of listofcam">
      <div class="imgcontainer">
      <img class="image" src="{{ element.specificProperties.image }}" width="300" height="200">
      <div class="overlay">
          <a href="#" class="icon" (click)="selectCam(element)">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
          </a>
      </div>
      </div>
      <p>{{ getCity(42.65,19.34) }}</p>
      <!-- <p class="text-left" style="font-weight:bold;">{{element.city}},{{element.country}}</p> -->
      <!-- <button class="btn btn-default" (click)=setSource()>Play</button> -->
    </div>
   
            <button class="btn btn-link scroll left" (click)="moveLeft()"></button>
            <button class="btn btn-link scroll right" (click)="moveRight()" style="margin-left:90%;"></button>
  
  </div>
  
  </div>
</div>
<ng-template #message>
    <div class="card card-body bg-white">
      <p style="font-size:18px;letter-spacing:1px;" class="text-success">Select a zone from the map to list available cameras</p>
    </div>
</ng-template>


